.charting-controls {
    padding: 30px;
    max-width: 95vw;
    height: 100vh;


  .charting-controls-widget {
    background: darkgrey;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
  }

  h2 {
    margin: 10px 0;
  }

  label {
    font-size: 8pt;

    display:block;
    text-align: left;
    margin-right: 1vw;

    .large {
      width: 300px;
      margin-left: 20px;
    }

    .small {
      width: 100px;
    }

  }

  .charting-controls-form {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;

  span {
    text-align: left;
    padding: 15px 0 0 15px;
  }


  .charting-controls-input {
    width: 200px;
    clear: left;
    margin-right: 1vw;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 25px 0 0 0;

  }

  button {
    border-radius: 6px;
    height: fit-content;
    margin: 25px 0 0 0;
  }

  .charting-controls-input.large {
    width: 300px;
  }

  .charting-controls-input.small {
    width: 100px;
  }

}

  .charts {
    display: flex;
    flex-direction:  column-reverse;
    flex-wrap: wrap;
    justify-content: left;
  }

  .chart {
    clear: both;
    background: #eaeaea;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-size: 12px;
    margin: 10px 0;
    color: #000;
  }

  .chart-head {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .chart-body {
    display: block;
    clear: both;
  }
}