.charting-controls {
  width: 90vw;
  // height: 100vh;
  background: darkgrey;
  border-radius: 10px;
  padding: 15px;
  margin: 10px auto;

  h2 {
    margin: 0;
    padding: 0;
  }

  .charting-controls-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  
    span {
      text-align: left;
      padding: 15px 0 0 15px;

      label {
        font-size: 8pt;
        display:block;
        text-align: left;
        margin-right: 1vw;
    
        .large {
          width: 300px;
          margin-left: 20px;
        }
    
        .small {
          width: 100px;
        }
    
      }

      .charting-controls-input {
        width: 200px;
        clear: left;
        margin-right: 1vw;
        border: none;
        padding: 5px;
        border-radius: 3px;
        margin: 0;
      }

      button {
        border-radius: 5px;
        height: fit-content;
        margin: 19px 0 0 0;
        padding: 5px;
      }

    }

    .charting-controls-input.large {
      width: 300px;
    }

    .charting-controls-input.small {
      width: 100px;
    }
  }

  .charts {
    display: flex;
    flex-direction:  column-reverse;
    flex-wrap: wrap;
    justify-content: left;
  }
}